{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<h1>Créer un compte</h1>

{{ form_start(form) }}
{{ form_row(form.email) }}
{{ form_row(form.name) }}
{{ form_row(form.plan) }}  <!-- Champ pour la sélection de la formule -->
{{ form_row(form.submit) }}
{{ form_end(form) }}
{% endblock %}
